/*
-------------- Basic Reset Css ----------
*/

/* -------- ----------- */

* {
  font-family: 'Open Sans', sans-serif;
}

.cont_central {  
  position: relative;
  width: 100%;
  top: 25%;
  margin-top: 100px;
}

.cont_modal {
  position: relative;
  width: 500px;
  height: 400px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_photo {
  position: relative;
  width: 500px;
  height: 440px;
  overflow: hidden;
  background-color: #eee;
  border-radius:5px;
  top: -20px;
  float: left;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s; 
  box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  
}

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius:5px ;
}
.cont_img_back > img {
  height: 100%;
  width: auto;
  opacity: 0.9;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.6s;
}

.cont_img_back:hover > img {
  transform: scale(1.1);
  opacity: 1.0;
}

.cont_text_ingredients {
  position: absolute;
  width: 0px;
  top: 0px;
  left: 290px;
  margin-left: 210px;
  height: 400px;
  float: left; 
  border-radius:5px ;
  z-index: 3;
  box-shadow: 1px 1px  20px  -5px  rgba(0,0,0,0.2);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
  background: rgb(251,249,249); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(251,249,249,1) 28%, rgba(232,234,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_mins{
  position: relative;
  float: left;
  width: 100%;
}

.sub_mins {
  position: relative;
  text-align: center;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(135,14,86,0.5);
  border-radius:50% ;
  margin: 16px;
  margin-bottom: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;

}

.sub_mins > h3 {
  color: #fff;
  padding: 8px;
  text-align: center;
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: -15px;
}

.sub_mins > span {
  color: #fff;
  font-size: 9px; 
  font-weight: 700;
}

.cont_servings {
  position: relative;
  text-align: center;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(135,14,86,0.5);
  border-radius:50% ;
  margin: 16px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_servings > h3 {
  padding: 8px;
  color: #fff;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.cont_servings > span {
  color: #fff;
  font-size: 9px;
  font-weight: 700;
}
.cont_icon_right {
  position: relative;
  float: right;
  margin-top: 16px;
}
.cont_icon_right  > a  {
  margin: 16px;
  margin-top: 16px;
  color: #fff;
}

.cont_detalles {
  position: absolute;
  bottom:-185px;
  height: 140px;
  border-radius:5px;
  margin: 0px auto;
  padding: 0px;
  text-align: center;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;}


  .cont_detalles > h3 {
  margin-top: 50px;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
 color: #fff;
  font-size: 24px;
}

.cont_detalles > p {
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  color: #fff;
width: 80%;
  text-align:left;
  font-size: 14px;
}

  /* ---------------- Css Tabs -------- */

  .cont_tabs {
    position: relative;
    float: left;
    width: 610px;
    height: 60px;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    border-bottom: 3px solid #EDEDEC;
  }

  .cont_tabs > ul {
    width: 300px;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    background-color: #eee;
  }

  .cont_tabs > ul > li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
  }

  .cont_tabs > ul > li > a {
    border-top: 7px solid #870E56;
    position: relative;
    display: block;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    float: left;
    padding-top: 0px;
    color: #241C3E;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
  }

  .cont_tabs > ul > li:first-child > a
  {
    border-top: 7px solid rgba(135,14,86, 0);
    margin-top: 0px;
    color: #9A96A4;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.2s;
  }

  .cont_tabs > ul > li:first-child > a:hover {
    border-top: 7px solid #870E56;
    padding-top: 15px;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    color: #241C3E;
    margin-top: 0px;
  }

  .cont_btn_open_dets {
    position: absolute;
    right: -15px;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    top:50%;
  }
  .cont_btn_open_dets  > a {
    display: block;
    padding-top: -5px;
    margin: 0px auto;
  padding: 0px;
  text-align: center;
    width: 30px;
    height: 30px;
    background-color: #870E56;
    border-radius:50% ;
    color: #fff;
    box-shadow: 0px 0px 20px -2px rgba(237, 36, 96, 1);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transition: all 0.2s;
    transform: rotate(180deg);

  }


  .cont_btn_open_dets  > a > i {
    margin-top: 4px;
  }

  .cont_title_preparation {
   position: relative;
   float: left;
   margin:10px 0px ;
   width: 610px;
 }
 .cont_title_preparation > p {
  font-weight: 700;
  font-size: 14px;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  margin-left: 40px;
  text-align: left;
  color: #36354E;
}

.cont_info_preparation {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  float: left;
}
.cont_info_preparation > p {
  margin: 5px 0px;
  margin-left: 50px;
  border-left: 2px solid #E3E3E3; 
  font-size: 12px;
  padding: 20px 0px;
  padding-left: 20px;
  text-align: left;
  padding-right: 15px;
  color: #565656;
}

.cont_btn_mas_dets {
  position: absolute;
  bottom:0px;
  left: 50%;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}
.cont_btn_mas_dets > a {
  color: #36354E;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

.cont_over_hidden {
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
  overflow: auto;
}

.cont_text_det_preparation {
  position: relative;
  width: 610px;
}

.cont_modal_active > .cont_text_ingredients  > .cont_btn_open_dets > a {
  transform: rotate(0deg);
}
.cont_modal_active > .cont_text_ingredients{
  width: 625px;
  left: 290px;
  z-index: 1;
  box-shadow: 15px 20px  70px  -5px  rgba(0,0,0,0.2);
}
.cont_modal_active {
  width: 650px;  
}

.cont_modal_active > .cont_photo {
  box-shadow: 25px 10px 70px -5px rgba(0,0,0,0.3);  
}

.cont_modal > .cont_photo > .cont_mins > .sub_mins {
  opacity: 1;
}

.cont_modal  > .cont_photo > .cont_servings {
  opacity: 1;
}

.cont_modal > .cont_photo  > .cont_detalles{
  bottom: 0px;
}
