<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DeepChef: Nothing found</title>
        <META name="author" content="Muriz Serifovic">
        <META name="copyright" content="&copy; 2018 Muriz Serifovic">
        <META name="keywords" content="chef,recipes,food">
        <META name="date" content="2018-11-13T20:49:37+00:00">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{ url_for('static', filename='css/404.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
          <div class="caption">
            <div class="hat-cont">
              <div class="lines"></div>
              <div class="hat"></div>
              <div class="left"></div>
              <div class="top"></div>
              <div class="left-opp"></div>
            </div>
            <div class="head-text">Not found</div>
          </div>
          <div class="head">
            <div class="pan-wrapper">
              <div class="center">
                <div class="sub-center">
                  <div class="egg">
                    <div class="yolk"></div>
                  </div>
                </div>
              </div>
              <div class="handle"></div>
              <div class="handle-sub"></div>
            </div>
          </div>
        </div>
    </body>
</html>