absl-py==0.1.10
appnope==0.1.0
attrs==17.4.0
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bleach==2.1.2
bokeh==0.12.14
boto==2.48.0
boto3==1.5.36
botocore==1.8.50
bz2file==0.98
certifi==2016.2.28
chardet==3.0.4
click==6.7
colorama==0.3.9
contextlib2==0.5.5
cursor==1.2.0
cycler==0.10.0
decorator==4.2.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
FALCONN==1.3.1
Flask==0.12
funcy==1.10.1
future==0.16.0
gensim==3.3.0
gevent==1.2.2
git-review==1.25.0
gitdb==0.6.4
gitdb2==2.0.3
GitPython==2.0.8
google-api-python-client==1.6.5
greenlet==0.4.13
h5py==2.7.1
halo==0.0.11
html5lib==1.0.1
httplib2==0.10.3
humanize==0.5.1
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.8
jupyterlab-launcher==0.10.5
Keras==2.1.4
kitchen==1.2.4
lda==1.0.5
log-symbols==0.0.12
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
mlxtend==0.10.0
mock==2.0.0
more-itertools==2.2
nbconvert==5.3.1
nbformat==4.4.0
neptune-cli==2.7.1
nltk==3.4.5
notebook==5.4.0
numexpr==2.6.4
numpy==1.14.1
oauth2client==4.1.2
oauthlib==2.0.6
olefile==0.45.1
ordered-set==2.0.2
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pathlib2==2.3.0
patsy==0.5.0
pbr==3.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
pluggy==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.1
psutil==4.3.0
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyDrive==1.3.1
Pygments==2.2.0
PyJWT==1.5.2
pykwalify==1.5.2
PyLaTeX==1.3.0
pyLDAvis==2.1.1
pyparsing==2.2.0
pytest==3.4.1
python-dateutil==2.4.2
python-igraph==0.7.1.post6
pytz==2018.3
PyYAML==3.11
pyzmq==17.0.0
qtconsole==4.3.1
rasterfairy==1.0.3
raven==6.1.0
requests==2.11.1
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
selenium==3.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
smart-open==1.5.6
smmap==0.9.0
smmap2==2.0.3
spinners==0.0.20
statsmodels==0.8.0
stop-words==2015.2.23.1
tables==3.4.3
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.8.1
terminaltables==2.1.0
testpath==0.3.1
Theano==1.0.1
tornado==4.2
tqdm==4.11.2
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.16
voluptuous==0.9.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.35.0
Werkzeug==0.14.1
widgetsnbextension==3.1.4
